.card-Grass {
    background-color: #7ACD52;
}

.card-Fire {
    background-color: #F75231;
}

.card-Water {
    background-color: #389BFE;
}

.card-Ground {
    background-color: #D6B55A;
}

.card-Bug {
    background-color: #ADBD20;
}

.card-Normal {
    background-color: #ADA594;
}

.card-Flying {
    background-color: #9BACF7;
}

.card-Poison {
    background-color: #B55AA5;
}

.card-Fairy {
    background-color: #E5A5E5;
}

.card-Fighting {
    background-color: #A55239;
}

.card-Rock {
    background-color: #BCA459;
}

.card-Electric {
    background-color: #FFC631;
}

.card-Steel {
    background-color: #ADADC6;
}

.card-Ice {
    background-color: #5ACDE7;
}

.card-Ghost {
    background-color: #6363B5;
}

.card-Psychic {
    background-color: #FE73A5;
}

.card-Dragon {
    background-color: #7A62E7;
}

.card-Dark {
    background-color: #607D8B;
}


/* Card-Background-Colors-SMALL */

.card-grass {
    background-color: #7ACD52;
}

.card-fire {
    background-color: #F75231;
}

.card-water {
    background-color: #389BFE;
}

.card-ground {
    background-color: #D6B55A;
}

.card-bug {
    background-color: #ADBD20;
}

.card-normal {
    background-color: #ADA594;
}

.card-flying {
    background-color: #9BACF7;
}

.card-poison {
    background-color: #B55AA5;
}

.card-fairy {
    background-color: #E5A5E5;
}

.card-fighting {
    background-color: #A55239;
}

.card-rock {
    background-color: #BCA459;
}

.card-electric {
    background-color: #FFC631;
}

.card-steel {
    background-color: #ADADC6;
}

.card-ice {
    background-color: #5ACDE7;
}

.card-ghost {
    background-color: #6363B5;
}

.card-psychic {
    background-color: #FE73A5;
}

.card-dragon {
    background-color: #7A62E7;
}

.card-dark {
    background-color: #607D8B;
}